@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Blog do Auto</h1>
    <p class="lead text-center">Blog usado para levar o mundo do automobilismo aos amantes da alta velocidade.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Inscreva-se</h2>
        <p>
            Participe dessa grande comunidade de autoloucos
        </p>
        <p><a class="btn btn-danger" href="../Usuarios/Create">Aqui &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Postagens</h2>
        <p>É aqui que você ficará sabendo tudo de novo.</p>
        <p><a class="btn btn-danger" href="../Posts">Aqui &raquo;</a></p>
    </div>
   
</div>